# Binary
*.exe
*.exe~
*.dll
*.so
*.dylib

# test
*.out
*.test

# Go module
vendor/

# env
.env
.env.*

# Node.js
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
